.img-container {
    display: flex;
    margin: 5rem 0 0 6rem;
}

.about-chick-container {
    display: flex;
    flex-direction: column;
    margin: 10rem 0 0 6rem;
    width: 50%;
    padding: 2rem 0 0 0;
}

.heading {
    font-family: Poppins-SemiBold;
    font-size: 3rem;
}

.paragraph{
    font-family: Poppins-Regular;
    font-size: 1.4rem;
}


 
