.img-container {
    display: flex;
    margin: 10rem 0 0 6rem;
}

.about-chick-container {
    display: flex;
    flex-direction: column;
    margin: 10rem 0 0 6rem;
    /* background: red; */
    width: 50%;
    padding: 10rem 0 0 2rem;
}

.text-heading {
    font-family: Poppins;
  }


 
