.image-container{
    margin: 0px;
    overflow: hidden;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-image: url('../assets/landing-page.png');
}

body {
    overflow: hidden;
}