.wrapper {
  position: relative;
}

.text {
  position: absolute;
  z-index: 3; /* put .gold-box above .green-box and .dashed-box */
  width: 100%;
  padding-top: 2%;
  top: 8em;
  text-align: center;
  color: white;
}

.text-2 {
  position: absolute;
  z-index: 3; /* put .gold-box above .green-box and .dashed-box */
  width: 100%;
  padding-top: 2%;
  top: 9.3em;
  text-align: center;
  color: white;
}
