@font-face {
    font-family: "Poppins";
    src: local("Poppins"), url("./assets/fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins-SemiBold";
    src: local("Poppins"), url("./assets/fonts/Poppins-SemiBold.ttf") format("truetype");;
}